* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: AvenirNext;
  src:url('../fonts/AvenirNext-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Georgia;
  src:url('../fonts/georgia.ttf') format('truetype');
}
body {
  font-family: AvenirNext,Georgia,sans-serif;
  font-size: 16px;
  margin: 0;
}
/* define class include the popular css atributes*/
.path {
  width: -webkit-fill-available;
  width: -moz-fill-available; 
  width: -ms-fill-available; 
  width: -o-fill-available;
  width: fill-available;
  height: 100%;
  background-color: #ecb84c;
}
.display-inline-block {
  display: inline-block;
}
.limited-width {
  width: 300px;
}
.flex-center-x-y {
  justify-content: center;
  align-items: center;
}
.flex-direction-column {
  display: flex;
  flex-direction: column;
}
.flex-direction-row {
  display: flex;
  flex-direction: row;
}
/* classes */
.container {
  justify-content: center;
  align-items: center;
  width: 100%;
}
header {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
  background: url("../img/bg-photo@2x.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner {
  width: 100%;
  max-width: 100%;
  position: initial;
  padding: 40px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.cuba {
  position: absolute;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  font-family: Georgia;
  font-size: 200px;
  font-weight: bold;
  color: #ffffff;
}
.explore-the-world {
  transform: translate(0px,-13px);
  padding: 0px 10px;
  width: 100%;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  font-family: Georgia;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
.banner-path {
  position: relative;
  width: 100%;
  height: 100%; 
  border: solid 2px #ecb84c;
  border-bottom: none;
  align-items: center;
}
.bottom-banner-path {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  justify-content: center;
}
.close-to-left {
  left:0;
}
.close-to-right {
  right:0;
}
.menu{
  width: 100%;
}
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
}
.menu ul li a {
  display: block;
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.36;
  color: #909090;
  text-decoration: none;
  text-align: center;
  padding: 16px 30px;
}
.menu ul li a:hover {
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.36;
  color: #4e5665;
  border-bottom: solid 4px #ecb84c;
}
.cross-line {
  background-color: rgb(235, 235, 235);
  display: block;
  height: 1px;
  width: 100%;
}
.main-content {
  width: 100%;
  padding: 0px 200px;
}
.cuba-artical {
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.article-title {
  font-family: Georgia;
  font-size: 32px;
  line-height: 3;
  text-align: center;
  color: #4e5665;
}
.content {
  font-family: AvenirNext;
  font-size: 16px;
  line-height: 1.75;
  color: rgb(80, 80, 80);
  padding: 40px 0px;
}
.read-more {
  text-decoration: none;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
  color: #ecb84c;
}
.container-icon {
  list-style-type: none;
  width: 100%;
  justify-content: space-around;
  padding: 64px;
}
.container-icon li p:nth-child(2) {
  font-family: AvenirNext;
  font-size: 22px;
  font-weight: 500;
  line-height: 2;
  color: #4e5665;
  text-align: center;
}
.container-icon li p:nth-child(3) {
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: 500;
  color: #909090;
  text-align: center;
}
.container-img {
  justify-content: center;
  align-items: center;
  height: 500px;
}
.cuba-street-img {
  z-index: 1;
  transform: translate(40%, 0px);
  width: 500px;
  height: auto;
  object-fit: contain; 
}
.para {
  position: absolute;
  z-index: 2;
  width: 470px;
  height: 289px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transform: translate(-40%, 0px);
}
.para h4 {
  z-index: 2;
  text-align: start;
  font-family: Georgia;
  font-size: 24px;
  line-height: 1.04;
  color: #4e5665;
  margin: 40px 0px 16px 40px;
}
.para p {
  font-family: AvenirNext;
  font-size: 16px;
  line-height: 1.75;
  color: #505050;
  margin: 0px 40px 40px;
}
.path-top-left {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 33px;
  height: 33px;
  border-top: solid 2px #ecb84c;
  border-left: solid 2px #ecb84c;
}
.path-bottom-right {
  position: absolute;
  bottom: 19px;
  right: 19px;
  width: 33px;
  height: 33px;
  border-bottom: solid 2px #ecb84c;
  border-right: solid 2px #ecb84c;
}
.cuba-beach {
  z-index: 1;
  transform: translate(-40%, 0px);
  width: 500px;
  height: auto;
  object-fit: contain; 
}
.v2 {
  transform: translate(50%, 0px);
}
.x {
  right: 19px;
  left: auto;
  border-top: solid 2px #ecb84c;
  border-right: solid 2px #ecb84c;
  border-left: none;
}
.y {
  left: 19px;
  right: auto;
  border-bottom: solid 2px #ecb84c;
  border-left: solid 2px #ecb84c;
  border-top: none; 
  border-right: none;
}
.cadillacs {
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 80px 0px;
}
.hover-for-more-info {
  text-align: center;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
  color: #ecb84c;
}
.cuba-in-photo {
  align-items: center;
  justify-content: center;
  width: 100%;
}
.car-shadow {
  width: 1170px;
  height: 7px;
  opacity: 0.5;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  background-color: #212020;
  margin-bottom: 50px;
  border-radius: 900px;
}
.icon {
  width: 12px;
  height: 12px;
  background-color: #f6cd35;
  border-radius: 6px;
  border: double 1px #f6cd35;
}
.cross-line-in-cuba-photo {
  background-color: rgb(235, 235, 235);
  display: block;
  height: 1px;
  width: 300px;
}
.slider {
  height: 700px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.buildings {
  position: absolute;
  z-index: 1;
  left: 0;
  transform: translate(-25%,0);
}
.temple {
  position: absolute;
  z-index: 2;
  left: 30%;
  transform: translate(-50%,0);
}
.town {
  position: absolute;
  z-index: 3;
}
.varadero-beach {
  position: absolute;
  z-index: 2;
  right: 30%;
  transform: translate(50%,0);
}
.road {
  position: absolute;
  z-index: 1;
  right: 0;
  transform: translate(25%,0);
}
footer {
  align-items: center;
  background-color: #f8f8f8;
}
.container-info {
  border-top :solid 1px #e7e9eb;
  padding-top: 20px;
  width: 100%;
  justify-content: space-around;
}
.container-info .t-agency {
  font-family: AvenirNext;
  font-size: 34px;
  font-weight: 500;
  color: #37c491;
  text-align: center;
  align-items: center;
  padding: 20px 0px 0px 100px;
}
.container-info h5 {
  margin-bottom: 30px;
}
.rectangle {
  text-align: center;
  width: 140px;
  height: 32px;
  border-radius: 2px;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #d9dde1;
  background-color: #ffffff;
  padding: 7px;
  font-family: AvenirNext;
  font-size: 14px;
  line-height: 1.36;
  color: #505050;
}
.rectangle option {
  text-align: center;
}
.united-states {
  margin-right :5px;
  width: 20px;
  height: 12px;
}
.info {
  padding: 20px 0px 0px 80px;
}
.info h3 {
  font-family: AvenirNext;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.33;
  color: #4e5665;
  padding-bottom: 20px;
}
.info ul li {
  display: block;
  float: none;
  font-family: AvenirNext;
  font-size: 14px;
  line-height: 1.36;
  color: #505050;
  margin-bottom: 10px;
}
.info ul li img {
  margin-right: 10px;
}
.all-rights-reserved {
  font-family: AvenirNext;
  font-size: 14px;
  line-height: 1.36;
  color: #505050;
  padding: 20px 0px;
}